body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

table.data {
    border-spacing: 0;
}

table.data th,
table.data td {
    padding: 3px 8px;
    border: 1px solid #aeaeae;
}

table.data tr td:nth-child(n+1) {
    text-align: right;
}